.login-background{
  width: 100%;
  height: 100vh;
  background: linear-gradient(123.66deg, #003BE5 12.08%, #00D5E2 86.52%);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.circle{
  background-image: url('../images/loginPatterns.png');
  background-repeat:round;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.loading{
  font-size: 2rem;
  color:white;
  margin:20% auto;
}

.login-form {
  background-color: aliceblue;
  width: 40%;
  height: 350px;
  border-radius: 10px;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form input, button{
  border: 1px solid #003BE5;
  line-height: 40px;
  width: 40%;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  color: #003BE5;
}

.login-form input::placeholder{
  color: #003BE5;
}

.login-form button{
  background-color: #003BE5;
  color: white;
}

.logo{
  margin-bottom: 20px;
}